<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Боковое меню</title>
    <link href="{{ url_for('static', path='/css/main.css') }}" rel="stylesheet" type="text/css">
</head>
<body>

<div id="sidebar">
    <a href="#" class="menu-item" id="taskBank">Банк заданий</a>
    <div id="levels" style="display: none;">
        {% for level in data.levels %}
            <div class="menu-item submenu-item">
                <button class="toggle-lessons">&#8658;</button>
                <span class="menu-label">{{ level.name }}</span>
                <button class="move-up">&#8593;</button>
                <button class="move-down">&#8595;</button>
                <button class="add-row">&#43;</button>
                <button class="delete-row">&#x2715;</button>
                <div id="lessons">
                    {% for lesson in level.lessons %}
                        <div class="menu-item submenu-item lesson-item">
                            <span class="lesson-label">{{ lesson }}</span>
                            <button class="move-up-lesson">&#8593;</button>
                            <button class="move-down-lesson">&#8595;</button>
                            <button class="add-row-lesson">&#43;</button>
                            <button class="delete-row-lesson">&#x2715;</button>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
    <a href="#" class="menu-item">Оповещения</a>
    <a href="#" class="menu-item">Платный контент</a>
    <div id="resizer"></div>
</div>

<div id="content">
    <h1>Welcome to English buddy admin panel!</h1>
    <p><b>Банк заданий</b> &#8211; тут можно редактировать учебный план: создавать уровни, уроки и сами задания</p>
    <p><b>Оповещения</b> &#8211; пока в разработке</p>
    <p><b>Платный контент</b> &#8211; пока в разработке</p>
</div>

<script src="{{ url_for('static', path='/js/main.js') }}"></script>

</body>
</html>
